<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AppShop.AppSettings.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AppShop.AppSettings.Settings1>
            <setting name="UrerUrl" serializeAs="String">
                <value>https://192.168.1.102:7274/api</value>
            </setting>
        </AppShop.AppSettings.Settings1>
    </applicationSettings>
</configuration>